<!-- <div id="disqus_thread">
  <button type="button" name="{{ site.disqus.shortname }}" class="btn btn-default show-commend">	
  	<i class="fa fa-comment-o fa-lg" style="color: #16a095;"></i>     修改显示评论按钮图标
  </button>
</div> -->
<div id="SOHUCS" sid="{{ page.id }}"></div>
	<script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
	<script type="text/javascript">
	    window._config = { showScore: true };
	    window.changyan.api.config({
	        appid: 'cys8fcA8d',
	        conf: 'prod_40b4981dc79e8823e1a713ebc9760ac8'
	    });
	</script>